body > main > article.center {
	section.poker-tables-view {
		div.main {
			div.tables {
				height: 10rem;
				width: 40rem;
				overflow-y: scroll;
				padding-right: 1rem;

				table td {
					padding: 0 0.5rem;
				}

				table tbody tr td.table button img {
					height: 2rem;
					width: 2rem;
				}
			}
		}
	}

	section.poker-table-view {
		div.data {			
			background: url("../image/table/poker-table.png") no-repeat top left;
			width: 800px;
			height: 380px;
			display: block;

		}
	}
}

